<!--
  Generated template for the HomeFormPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <ion-title *ngIf="houseListing">{{houseListing | houseListingDisplay}}</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="showHomeForm" [attr.light]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="activeSegment">
      <ion-segment-button value="details">
        Details
      </ion-segment-button>
      <ion-segment-button value="scorecard">
        Scorecard
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showAddButtons" padding>
    <p>
      <button light full (click)="addByMlsClick()">Add by MLS #</button>
    </p>
    <p>
      <button light full (click)="addByAddressClick()">Add by Address</button>
    </p>
    <p>
      <button light full (click)="addManuallyClick()">Add Manually</button>
    </p>
  </div>

  <form *ngIf="addForm=='mls'" [formGroup]="addByMlsForm">
    <ion-item-group>
      <ion-item>
        <ion-label floating primary>MLS #</ion-label>
        <ion-input type="number" #mls formControlName="mls"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating primary>City</ion-label>
        <ion-input type="text" #city formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating primary>State</ion-label>
        <ion-select #state formControlName="state">
          <ion-option *ngFor="let s of allStates" value="{{ s.Identifier }}">{{ s.Name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <div text-center style="padding-top: 5px; padding-bottom: 5px;">
      <button [disabled]="!addByMlsForm.valid" (click)="addByMlsFormSubmit()">Find</button>
    </div>
  </form>

  <form *ngIf="addForm=='address'" [formGroup]="addByAddressForm">
    <ion-item-group>
      <ion-item>
        <ion-label floating primary>Address</ion-label>
        <ion-input type="text" #addressLine1 formControlName="addressLine1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating primary>City</ion-label>
        <ion-input type="text" #city formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating primary>State</ion-label>
        <ion-select #state formControlName="state">
          <ion-option *ngFor="let s of allStates" value="{{ s.Identifier }}">{{ s.Name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating primary>Zip</ion-label>
        <ion-input type="number" #zip formControlName="zip"></ion-input>
      </ion-item>
    </ion-item-group>
    <div text-center style="padding-top: 5px; padding-bottom: 5px;">
      <button [disabled]="!addByAddressForm.valid" (click)="addByAddressFormSubmit()">Find</button>
    </div>
  </form>

  <form *ngIf="showHomeForm" [formGroup]="homeForm" [ngClass]="{'homeFormPadding': addPadding}">
    <div [ngSwitch]="activeSegment">
      <ion-item-group *ngSwitchCase="'details'">
        <ion-item>
          <ion-label floating primary>Nickname</ion-label>
          <ion-input type="text" #nickname formControlName="nickname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Address</ion-label>
          <ion-input type="text" #addressLine1 formControlName="addressLine1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>City</ion-label>
          <ion-input type="text" #city formControlName="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>State</ion-label>
          <ion-select #state formControlName="state">
            <ion-option *ngFor="let s of allStates" value="{{ s.Identifier }}">{{ s.Name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Zip</ion-label>
          <ion-input type="number" #zip formControlName="zip"></ion-input>
        </ion-item>
        <ion-item *ngIf="!homeForm.controls.zip.valid  && (!homeForm.controls.zip.pristine || submitAttempt)">
          <p>Please enter a zipcode.</p>
        </ion-item>
        <ion-item>
          <ion-label floating primary>MLS #</ion-label>
          <ion-input type="number" #price formControlName="mls"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Price</ion-label>
          <ion-input type="number" #price formControlName="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Bedrooms</ion-label>
          <ion-input type="number" #bedrooms formControlName="bedrooms" step="0"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Bathrooms</ion-label>
          <ion-input type="number" #bathrooms formControlName="bathrooms" step=".5"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Square Footage</ion-label>
          <ion-input type="number" #squareFootage formControlName="squareFootage" step="0"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group padding *ngSwitchCase="'scorecard'">
        <ion-item>
          <ion-label stacked primary>Kitchen
            <ion-badge *ngIf="homeForm.controls.kitchen" style="float: right;" favorite>{{homeForm.controls.kitchen.value}}</ion-badge>
          </ion-label>
          <ion-range #kitchen formControlName="kitchen" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.kitchen" range-right favorite>{{homeForm.controls.kitchen.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Bathrooms
            <ion-badge *ngIf="homeForm.controls.bathroomsScore" style="float: right;" favorite>{{homeForm.controls.bathroomsScore.value}}</ion-badge>
          </ion-label>
          <ion-range #bathroomsScore formControlName="bathroomsScore" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.bathroomsScore" range-right favorite>{{homeForm.controls.bathroomsScore.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Location
            <ion-badge *ngIf="homeForm.controls.location" style="float: right;" favorite>{{homeForm.controls.location.value}}</ion-badge>
          </ion-label>
          <ion-range #location formControlName="location" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.location" range-right favorite>{{homeForm.controls.location.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Neighborhood
            <ion-badge *ngIf="homeForm.controls.neighborhood" style="float: right;" favorite>{{homeForm.controls.neighborhood.value}}</ion-badge>
          </ion-label>
          <ion-range #neighborhood formControlName="neighborhood" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.neighborhood" range-right favorite>{{homeForm.controls.neighborhood.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Schools
            <ion-badge *ngIf="homeForm.controls.schools" style="float: right;" favorite>{{homeForm.controls.schools.value}}</ion-badge>
          </ion-label>
          <ion-range #schools formControlName="schools" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.schools" range-right favorite>{{homeForm.controls.schools.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Layout
            <ion-badge *ngIf="homeForm.controls.layout" style="float: right;" favorite>{{homeForm.controls.layout.value}}</ion-badge>
          </ion-label>
          <ion-range #neighborhood formControlName="layout" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.layout" range-right favorite>{{homeForm.controls.layout.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Move in Ready
            <ion-badge *ngIf="homeForm.controls.moveInReady" style="float: right;" favorite>{{homeForm.controls.moveInReady.value}}</ion-badge>
          </ion-label>
          <ion-range #moveInReady formControlName="moveInReady" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.moveInReady" range-right favorite>{{homeForm.controls.moveInReady.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Feels Like Home
            <ion-badge *ngIf="homeForm.controls.feelsLikeHome" style="float: right;" favorite>{{homeForm.controls.feelsLikeHome.value}}</ion-badge>
          </ion-label>
          <ion-range #feelsLikeHome formControlName="feelsLikeHome" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.feelsLikeHome" range-right favorite>{{homeForm.controls.feelsLikeHome.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label stacked primary>Yard
            <ion-badge *ngIf="homeForm.controls.yard" style="float: right;" favorite>{{homeForm.controls.yard.value}}</ion-badge>
          </ion-label>
          <ion-range #yard formControlName="yard" min="0" max="100" pin="true" favorite style="padding-top: 5px;">
            <ion-icon range-left small favorite name="heart-outline"></ion-icon>
            <ion-icon range-right favorite name="heart"></ion-icon>
            <!--<ion-badge *ngIf="homeForm.controls.yard" range-right favorite>{{homeForm.controls.yard.value}}</ion-badge>-->
          </ion-range>
        </ion-item>
        <ion-item>
          <ion-label floating primary>Notes</ion-label>
          <ion-textarea type="text" #notes formControlName="notes"></ion-textarea>
        </ion-item>
      </ion-item-group>
    </div>
    <div text-center style="padding-top: 5px; padding-bottom: 5px;">
      <button [disabled]="!homeForm.valid" (click)="saveHome()">Save</button>
    </div>
  </form>

  <p *ngIf="emsg" style="color:red">{{emsg}}</p>
</ion-content>