<!--
  Generated template for the MyHomesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary>
    <ion-title>My Homes</ion-title>
    <ion-buttons end>
      <!--<button (click)="redFinClick()">
        <ion-icon name="search"></ion-icon>
      </button>-->
      <button (click)="addClick()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="currentUser">
    <button ion-item *ngFor="let houseListing of currentUser.HouseListings | orderby:'!Score'" (click)="houseListingClick(houseListing)">
      <ion-row>
        <ion-col width-20 style="padding-top: 0; padding-bottom: 0;">
          <span primary style="font-size: 2em;">{{houseListing.Score}}</span>
        </ion-col>
        <ion-col width-80 style="padding-top: 0; padding-bottom: 0;">
          <h2>{{houseListing | houseListingDisplay}}</h2>
          <p>
            {{houseListing.AddressLine1}} {{houseListing.City}} {{houseListing.State}}
          </p>
        </ion-col>
      </ion-row>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
  <p *ngIf="emsg" style="color:red">{{emsg}}</p>
</ion-content>